.verify-email-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #666666;
  
    .verify-container {
      width: 90%;
      max-width: 450px;
      background: #34405e;
      border-radius: 16px;
      padding: 2rem;
      box-shadow: 0 4px 20px rgba(196, 12, 12, 0.1);
      margin: 1rem;
      text-align: center;
  
      h2 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 1.5rem;
        color: #ffffff;
      }
  
      .instructions {
        color: #ffffff;
        font-size: 1rem;
        margin-bottom: 1.5rem;
        line-height: 1.5;
        strong {
          color: #f1c40f;
        }
  
        &.error {
          color: #e74c3c;
        }
      }
  
      .code-input {
        --background: #f8f9fa;
        --border-radius: 25px;
        --padding-start: 1.5rem;
        --inner-padding-end: 0.5rem;
        margin-bottom: 1.5rem;
        font-size: 1rem;
  
        ion-input {
          color: #3A8EBA;
        }
  
        &:focus-within {
          --background: #89aee7;
        }
      }
  
      ion-button {
        --border-radius: 8px;
        height: 48px;
        font-weight: 600;
        margin-bottom: 1rem;
        transition: transform 0.2s, box-shadow 0.2s;
  
        &:active {
          transform: scale(0.98);
        }
      }
    }
  }
  