.custom-header {
  ion-toolbar {
    --background: #666666;
    --color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    
    /* Estilo para los botones laterales */
    ion-buttons {
      min-width: 50px;
      ion-icon {
        font-size: 30px;
      }
    }
    
    .header-center {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: auto;
      height: 10%;
      max-width: 60%;
      
      .header-icon {
        font-size: 30px;
        margin-right: 8px;
        color: white;
      }
      
      ion-title {
        padding: 0;
        font-size: 1.1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

/* Estilos para el menú lateral personalizado */
.custom-menu {
  --width: 280px;
  
  .menu-content {
    --background: linear-gradient(135deg, #4c669f 0%, #3b5998 50%, #192f6a 100%);
    color: white;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    
    .profile-avatar {
      width: 80px;
      height: 80px;
      background: rgba(255, 255, 255, 0.1);
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .profile-icon {
        font-size: 40px;
        color: white;
        width: 100%;
        text-align: center;
      }
    }
    
    .profile-name {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .profile-email {
      font-size: 14px;
      opacity: 0.8;
    }
  }
  
  .menu-list {
    background: transparent;
    padding: 15px 0;
    
    .menu-item {
      --background: transparent;
      --color: white;
      --padding-start: 20px;
      --inner-padding-end: 20px;
      margin-bottom: 5px;
      box-shadow: 0 0 10px rgba(189, 189, 175, 0.51);

      
      &:hover {
        --background: rgba(255, 255, 255, 0.1);
      }
      
      .menu-icon {
        font-size: 22px;
        margin-right: 15px;
        color: white;
      }
    }
  }
}